*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
    flex-direction: column;
    margin: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
}

nav h1 {
    margin: 0;
    float: left;
}

nav ul {
    margin: 0;
    padding: 0;
    float: right;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    flex-grow: 1;
}
aside {
    width: 20%;
    margin-right: 5%;
    background-color:beige;
    height: auto;
}
article {
    width: 65%;
}

article h2, aside h2 {
    margin-top: 0;
}

footer {
    width: 100%;
    margin-top: auto;
    background-color: #050101;
    color: #fff;
    padding: 10px;
}

.footer-content, .footer-links, .social-media {
    margin-bottom: 10px;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
}

.footer-links li {
    display: inline;
    margin-right: 20px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

.social-media img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.footer-bottom p {
    align-items: center;
    clear: both;
}